<?xml encoding="UTF-8" version="1.0"?>
<actions>
<action>
	<icon>utilities-terminal</icon>
	<name>Open Terminal Here</name>
	<unique-id>1561037580080073-1</unique-id>
{{- if eq .chezmoi.osRelease.id "kali" }}
    <unique-id>1439871868518807-1</unique-id>
{{- end }}
	<command>exo-open --working-directory %f --launch TerminalEmulator</command>
	<description>Example for a custom action</description>
	<patterns>*</patterns>
	<startup-notify/>
	<directories/>
</action>
{{- if eq .chezmoi.osRelease.id "kali" }}
<action>
	<icon>kali-sorter</icon>
	<name>Mount Image File</name>
	<unique-id>1601919282811719-1</unique-id>
	<command>udisksctl loop-setup -f %f</command>
	<description>Mount Image File</description>
	<patterns>*.iso;*.ISO;*.img;*.IMG</patterns>
	<other-files/>
</action>
{{- end }}
</actions>
