set mouse=a 
set tabstop=4 
set shiftwidth=4
set softtabstop=4 
set expandtab
set autoindent
set smartindent
syntax on
map <leader>at :ALEToggle<CR>
map <leader>nt :NERDTree<CR>
map <leader>ex :exit<CR>
set pastetoggle=<F3>
{{ if ( or (ne .chezmoi.osRelease.id "arch") (ne .chezmoi.osRelease.idLike "arch)}}
source ~/.vim/plugins/ale.vim
{{ end }}
