{{- if (and (ne .chezmoi.osRelease.id "arch") (ne .chezmoi.osRelease.id "endeavouros")) -}}
#!/bin/bash
cmd1="apt -f -y install xfce4-whiskermenu-plugin xcape"
folder1="$HOME/bin"

echo "running $cmd1 w/ sudo"
sleep 1
sudo -E bash -c "$cmd1"

{{- else -}}
#! /bin/bash
cmd1="pacman -S --noconfirm --needed xfce4-whiskermenu-plugin xcape"
folder1="$HOME/bin"

echo "running $cmd1 w/ sudo"
sleep 1
sudo -E bash -c "$cmd1"

{{- end -}}
