{{- if (and (ne .chezmoi.osRelease.id "arch") (ne .chezmoi.osRelease.id "endeavouros")) -}}
#!/bin/bash
cmd1="apt -f install git vim vim-gui-common"
echo "running $cmd1 w/ sudo"
sleep 1
sudo -E bash -c "$cmd1"

folder1="$HOME/.vim/pack/git-plugins/start"
folder2="$HOME/.vim/plugins"

if [ ! -d "$folder1" ]; then
mkdir -p "$folder1"
fi

if [ ! -d "$folder2" ]; then
mkdir -p "$folder2"
fi

cd "$folder1" || exit

if [ -d "ale" ]; then
    cd ale || exit
    git pull
    cd "$folder1" || exit 
else
    git clone https://github.com/dense-analysis/ale.git
fi

if [ -d "nerdtree" ]; then
    cd nerdtree || exit
    git pull
    cd "$folder1" || exit
else
    git clone https://github.com/preservim/nerdtree
fi

if [ -d "chezmoi.vim" ]; then
    cd "chezmoi.vim" || exit
    git pull
    cd "$folder1" || exit 
else
    git clone https://github.com/alker0/chezmoi.vim
fi

if [ -d "vim-fugitive" ]; then
    cd "vim-fugitive" || exit
    git pull
    cd "$folder1" || exit 
else
    git clone https://github.com/tpope/vim-fugitive
fi
{{- else -}}
#! /bin/bash
cmd1="pacman -S --noconfirm --needed git gvim base-devel vim-ale vim-nerdtree vim-fugitive"
echo "running $cmd1 w/ sudo"
sleep 1
sudo -E bash -c "$cmd1"

folder1="$HOME/.vim/pack/git-plugins/start"

if [ ! -d "$folder1" ]; then
mkdir -p "$folder1"
fi

cd "$folder1" || exit

if [ -d "chezmoi.vim" ]; then
    cd "chezmoi.vim" || exit
    git pull
    cd "$folder1" || exit 
else
    git clone https://github.com/alker0/chezmoi.vim
fi
{{- end -}}
