{{- if (and (ne .chezmoi.osRelease.id "arch") (ne .chezmoi.osRelease.id "endeavouros")) }}
#!/bin/bash
mkdir -p ~/.vim/pack/git-plugins/start
mkdir -p ~/.vim/plugins
cd ~/.vim/pack/git-plugins/start/
if [ -d "ale" ]; then
    cd ale
    git pull
    cd ..
else
    git clone https://github.com/dense-analysis/ale.git
fi
if [ -d "nerdtree" ]
    cd nerdtree
    git pull
    cd ..
else
    git clone https://github.com/preservim/nerdtree
fi
cd ~/.vim/plugins
{{ end }}
