{{- if eq .chezmoi.osRelease.id "kali" }}
{{ .chezmoi.sourceDir }}/ignore-xfce4/kali/xfce-perchannel-xml/xsettings.xml
{{- else if eq .chezmoi.osRelease.id "arch" "endeavouros" }}
{{ .chezmoi.sourceDir }}/ignore-xfce4/glamdring/xfce-perchannel-xml/xsettings.xml
{{- end }}
