{{- if eq .chezmoi.osRelease.id "kali" }}
{{ .chezmoi.sourceDir }}/ignore-xfce4/kali/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
{{- else }}
{{ .chezmoi.sourceDir }}/ignore-xfce4/glamdring/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
{{- end }}
