[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Bluetooth Headset Autoconnect
Comment=Make it so BT headset will autoswitch to output
Exec=pactl load-module module-switch-on-connect
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

