[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Caffeine-ng
Comment=Prevent screensaver when active
Exec=caffeine start --activate
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

