[Desktop Entry]
Type=Application
Name=jslisten-hotkeys
Comment=Using this to issue commands in emulators that don't support hotkeys.
Exec=jslisten
RunHook=0
