[Unit]
Description=Ensure bluetooth adapter is enabled on boot. This should happen by default, but at various times that has broken seemingly because bluetooth is softblocked.
After=bluetooth.target

[Service]
ExecStartPre=/bin/sleep 10
Type=idle
ExecStart=rfkill bluetooth unblock
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
