[Unit]
Description=Disable XFCE Do Not Disturb (wake time)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xfconf-query -c xfce4-notifyd -p /do-not-disturb -s false
