[Unit]
Description="A script to backup ES-DE configs and data."

[Service]
Type=simple
ExecStart=/home/gandalf/bin/ESDE-backup

[Install]
WantedBy=default.target
