[Unit]
Description=jstimeout daemon
After=network.target auditd.service

[Service]
ExecStartPre=/bin/sleep 10
Type=idle
WorkingDirectory=/home/gandalf/bin
ExecStart=/home/gandalf/bin/jstimeout -m 1800
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
