[Unit]
Description="A recover NAS mounts & launch related containers."

[Service]
Type=simple
ExecStart=/opt/container-recovery

[Install]
WantedBy=default.target
